@import './libs/font_variables';

$color1:#06608A;
$color2:#363636;
$color3:#C3D5D8;
$color4:#CCCCCC;
$color5:#ffffff;
$background:#eee;

$collapsed:45px;


body{
  background-color:$background;
  font-family:$calibri-font-stack;
}

header{
  color:$color2;

  h1{
    font-size:28pt;
  }
}

.task{
  border-bottom: 1px solid $color4;
  height:$collapsed;
  position:relative;

  .headerDiv{
    height:$collapsed;

    &:hover{
      background-color: $color1;
      color:$background;
    }

    .contentTitle{
      margin-top:0;
      margin-bottom:0;
      margin-left:1.5%;
      position:relative;
      top:8px;
    }
  }

  .contentInfo{
    position:absolute;
    bottom:0;
    width:47%;
    opacity:0.0;
    transition: opacity 5s;
    height:530px;
    overflow:hidden;
    margin-top: 0;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0;
    padding:10px;

    &.visible{
      opacity:1.0;
      border-right:1px solid $color4;
      border-top:1px solid $color4;
      border-left:1px solid $color4;
      background-color:$color5;
    }
  }

}

